DOMAIN=nilluv.com
WWW_HOST=www.nilluv.com
PORTFOLIO_WEB_HOST=nilluv.com
PORTFOLIO_API_HOST=api.nilluv.com
SHOWCASE_HOST=showcase.nilluv.com
SPAM_HOST=spam.nilluv.com

BRAINSIGHT_HOST=brainsight.nilluv.com
GETAROUND_HOST=getaround.nilluv.com
FRAUDSTREAM_HOST=fraudstream.nilluv.com
UBER_HOTZONE_HOST=uber-hotzone.nilluv.com
WALMART_FORECAST_HOST=walmart-forecast.nilluv.com

LETSENCRYPT_EMAIL=devops@nilluv.com

NLP_SPAM_IMAGE=ghcr.io/lnilluv/nlp-spam-detector-api:latest
BRAINSIGHT_IMAGE=ghcr.io/lnilluv/brainsight-alzheimer-prediction-deeplearning-cnn:latest
GETAROUND_IMAGE=ghcr.io/lnilluv/getaround-eda-ml:latest
FRAUDSTREAM_IMAGE=ghcr.io/lnilluv/fraudstream-data-platform:latest
UBER_HOTZONE_IMAGE=ghcr.io/lnilluv/uber-hotzone-ml:latest
WALMART_FORECAST_IMAGE=ghcr.io/lnilluv/walmart-sales-forecast:latest
