DOMAIN=nilluv.com
WWW_HOST=www.nilluv.com
PORTFOLIO_WEB_HOST=nilluv.com
PORTFOLIO_API_HOST=api.nilluv.com
SHOWCASE_HOST=showcase.nilluv.com
SPAM_HOST=spam.nilluv.com

BRAINSIGHT_HOST=brainsight.nilluv.com
GETAROUND_HOST=getaround.nilluv.com
FRAUDSTREAM_HOST=fraudstream.nilluv.com

LETSENCRYPT_EMAIL=devops@nilluv.com

NLP_SPAM_IMAGE=ghcr.io/lnilluv/nlp-spam-detector-api:latest
BRAINSIGHT_IMAGE=ghcr.io/lnilluv/brainsight-alzheimer-prediction-deeplearning-cnn:latest
GETAROUND_IMAGE=ghcr.io/lnilluv/getaround-eda-ml:latest
FRAUDSTREAM_IMAGE=ghcr.io/lnilluv/fraudstream-data-platform:latest
PORTFOLIO_API_BASE=http://portfolio-api:8000
